* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

:root {
  /* COLORES */
  --rtc-color-white: white;
  --rtc-color-black: black;
  --rtc-color-input: #b5a99a;
  --rtc-color-button: #ff6000;
  --rtc-color-Price: #bf0819;
  --rtc-color-headerAnchor: #636364;
  --rtc-color-name: #465a6d;
  --rtc-color-seller: #333333;
  --rtc-color-stars: #ffa927;
  --rtc-color-reviews: #a7bac5;
  --rtc-color-bgFilters: #c8deeb;
  --rtc-color-border: #cccccc;
  --rtc-color-BG: #001f3f;
  /* SPACING */

  /** MARGIN  */
  --rtc-margin-xxs: 10px;
  --rtc-margin-xs: 20px;
  --rtc-margin-s: 30px;
  --rtc-margin-m: 40px;
  --rtc-margin-l: 50px;
  --rtc-margin-xl: 60px;
  --rtc-margin-xxl: 70px;

  /** PADDING  */
  --rtc-padding-xxs: 10px;
  --rtc-padding-xs: 20px;
  --rtc-padding-s: 30px;
  --rtc-padding-m: 40px;
  --rtc-padding-l: 50px;
  --rtc-padding-xl: 60px;
  --rtc-padding-xxl: 70px;

  /** GAP */
  --rtc-gap-xxs: 10px;
  --rtc-gap-xs: 20px;
  --rtc-gap-s: 30px;
  --rtc-gap-m: 40px;
  --rtc-gap-l: 50px;
  --rtc-gap-xl: 60px;
  --rtc-gap-xxl: 70px;

  /* BORDER */
  --rtc-border-s: 1px solid;
  --rtc-border-m: 2px solid;
  --rtc-border-l: 3px solid;

  /* BORDER-RADIUS */
  --rtc--border-radius-s: 10px;
  --rtc--border-radius-m: 20px;
  --rtc--border-radius-l: 30px;
}

body {
  display: flex;
  width: 100%;
  height: 100svh;
  justify-content: start;
  gap: var(--rtc-gap-m);
  margin: var(--rtc-margin-xxs);
  background-color: var(--rtc-color-BG);
}

/* SECCION DE FILTROS */
.filter {
  position: fixed;
  margin: var(--rtc-margin-m);
  margin-left: 0;
  margin-top: 0;
  padding-top: var(--rtc-padding-xxl);
  background-color: var(--rtc-color-bgFilters);
  width: 25%;
  min-width: 250px;
  height: 100svh;
  display: flex;
  gap: var(--rtc-gap-l);
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.seller-filter {
  display: flex;
  width: 60%;
}

.seller-filter > select {
  width: 100%;
  min-width: 160px;
  height: 30px;
  font-size: 20px;
  border-radius: var(--rtc--border-radius-s);
  cursor: pointer;
}

.price-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: var(--rtc-gap-xxs);
}

.price-filter > input {
  width: 100%;
  height: 30px;
  padding: var(--rtc-padding-xxs);
  font-size: 20px;
  border-radius: var(--rtc--border-radius-s);
}

.price-filter > button {
  width: 60%;
  height: 40px;
  font-size: 16px;
  border-radius: var(--rtc--border-radius-s);
  background-color: var(--rtc-color-button);
  color: var(--rtc-color-white);
}

.clean-button {
  width: 100px;
  height: 100px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 100%;
  background-color: var(--rtc-color-button);
  color: var(--rtc-color-white);
  padding: var(--rtc-padding-xxs);
}

/* SECCION DE PRODUCTOS */
.products {
  position: absolute;
  right: 20px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--rtc-gap-s);
  justify-content: center;
  padding: var(--rtc-padding-l);
  padding-right: 0;
  margin-right: var(--rtc-margin-xxs);
  /* margin-left: 25%; */
}

.product-card {
  border: var(--rtc-border-m);
  border-radius: var(--rtc--border-radius-s);
  background-color: var(--rtc-color-white);
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-xxs);
  width: 250px;
  height: 420px;
  padding: var(--rtc-padding-xs);
  transition: all 0.3s ease;
}
.product-card:hover {
  transform: scale(1.1);
}

.product-card > img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.product-card > img:hover {
  transform: scale(1.5);
  border: var(--rtc-border-m);
  border-radius: var(--rtc--border-radius-s);
}

.product-card > h2 {
  width: 100%;
  color: var(--rtc-color-name);
}

.product-card > h3 {
  width: 100%;
  color: var(--rtc-color-Price);
}

.points {
  display: flex;
  gap: var(--rtc-gap-xxs);
}

.stars {
  display: flex;
}

.star {
  display: flex;
  width: 15px;
  height: 15px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.points > p {
  width: 25%;
  color: var(--rtc-color-reviews);
}

.product-card > h4 {
  width: 100%;
  color: var(--rtc-color-seller);
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
  .filter {
    position: fixed;
    z-index: 1;
    background-color: var(--rtc-color-bgFilters);
    padding-top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    gap: var(--rtc-gap-xs);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .seller-filter {
    display: flex;
    width: 20%;
  }

  .seller-filter > select {
    width: 60%;
    min-width: 120px;
    height: 30px;
    font-size: 20px;
    border-radius: var(--rtc--border-radius-s);
    cursor: pointer;
  }

  .price-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: var(--rtc-gap-xxs);
  }

  .price-filter > input {
    width: 100%;
    min-width: 120px;
    height: 30px;
    padding: var(--rtc-padding-xxs);
    font-size: 20px;
    border-radius: var(--rtc--border-radius-s);
  }

  .price-filter > button {
    width: 50%;
    min-width: 70px;
    height: 30px;
    font-size: 12px;
    border-radius: var(--rtc--border-radius-s);
    background-color: var(--rtc-color-button);
    color: var(--rtc-color-white);
  }

  .products {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--rtc-gap-xs);
    justify-content: center;
    padding: var(--rtc-padding-l);
    padding-right: 0;
    margin-right: var(--rtc-margin-xxs);
  }
}

@media (max-width: 530px) {
  .filter {
    gap: var(--rtc-gap-xxs);
  }
  .clean-button {
    width: 80px;
    height: 80px;
    font-size: 13px;
    border-radius: 100%;
    background-color: var(--rtc-color-button);
    color: var(--rtc-color-white);
    padding: var(--rtc-padding-xxs);
  }
  .seller-filter > select {
    min-width: 90px;
    font-size: 14px;
  }
  .price-filter > input {
    height: 20px;
    font-size: 14px;
  }
}
